development:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_development
  host: <%= config.postgresql.dir %>
  port: <%= config.postgresql.port %>
  pool: 10
  load_balancing:
    hosts:
      - <%= config.postgresql.dir %>

test: &test
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_test
  host: <%= config.postgresql.dir %>
  port: <%= config.postgresql.port %>
  pool: 10
